@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

.title{
    font-size: 8em;
    font-weight: bold;
    color: #fffcf9;
    text-align: center;
    margin-bottom: 2%;
    margin-top: 0.5%;
    font-family: 'Dela Gothic One', cursive;
}

.dot{
    font-size: 2em;
    line-height: 0%;
    color: #57B8FF;
    text-align: center;
    font-family: 'Dela Gothic One', cursive;
    
}

.hero{
    background-color: rgb(255, 87, 87);
    width: 100%;
}

.topNav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 1.1em;
    font-family: 'Roboto Mono', monospace;
    margin-top: 3em;
    margin-bottom: 3em;

}

.topNav-links{
    padding: 1em;
}

body{
    background-color: #fffcf9;
    padding-left: 10%;
    padding-right: 10%;
}

a{
    text-decoration: none;
    color: #000;
}

a:hover {
    background-color: rgb(255, 87, 87);
    transition: background 0.5s;
    cursor: pointer;
}
