<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ofi.Cimas</title>
    <link rel="stylesheet" href="C:\Users\Carlos\ofiCIMAS\css\style.css" />
  </head>

  <body>
    <div class="hero">
      <h1 class="title">Ofi<dot class="dot">.</dot>Cimas</h1>
    </div>
    <div class="topNav">
      <a class="topNav-links" href="C:\Users\Carlos\ofiCIMAS\index.html">Página inicial</a>
      <a class="topNav-links" href="Sobrenos.html">Sobre nós</a>
      <a class="topNav-links" href="Servicos.html">Nossos serviços</a>
      <a class="topNav-links" href="Localizacao.html">Localização</a>
      <a class="topNav-links" href="FAQ.html">Fale conosco!</a>
    </div>

<h2 class="Bem_vindo">Perguntas Frequentes (FAQ)</h2>

<h3 class="subtitulo">Bem-vindo ao nosso centro de FAQ, onde respondemos às perguntas mais comuns que nossos clientes têm sobre nossos serviços e procedimentos. Se você não encontrar a resposta que procura aqui, não hesite em entrar em contato conosco diretamente. Estamos sempre prontos para ajudar!</h3>
<ul class="list">
<li class="bold">Quais serviços de reparo e manutenção vocês oferecem?</li>
<p>Oferecemos uma ampla gama de serviços, incluindo reparos mecânicos, troca de óleo, manutenção preventiva, reparos de freios, alinhamento de rodas, serviços de suspensão, e muito mais. Entre em contato conosco para obter informações detalhadas sobre nossos serviços.</p>

<li class="bold">Como faço um agendamento?</li>
      <p>Você pode agendar uma consulta ligando para o nosso número de telefone ou preenchendo o formulário de agendamento em nosso site. Estamos disponíveis para agendamentos de segunda a sexta-feira, das 8h às 18h, e aos sábados, das 9h às 13h.</p>

<li class="bold">Quanto tempo levará para consertar meu veículo?</li>
      <p>O tempo de reparo varia de acordo com o tipo de serviço e a complexidade do problema. Quando você faz o agendamento, nosso pessoal irá fornecer uma estimativa do tempo necessário. Estamos comprometidos em concluir o trabalho de forma eficiente, sem comprometer a qualidade.</p>

<li class="bold">Quanto custará o serviço de reparo?</li>
<p>O custo do serviço depende do tipo de reparo ou manutenção necessária. Após uma avaliação inicial, forneceremos um orçamento detalhado. Nossos preços são competitivos e transparentes, e não cobramos por serviços não autorizados.</p>

<li class="bold">Vocês usam peças de reposição originais?</li>
<p>Sim, usamos peças de reposição originais e de alta qualidade sempre que possível. No entanto, também oferecemos opções de peças de qualidade equivalente, se você preferir economizar um pouco.</p>

<li class="bold">Vocês oferecem garantia para os serviços realizados?</li>
<p>Sim, oferecemos garantia em nossos serviços e peças. Os detalhes da garantia podem variar de acordo com o tipo de serviço, por isso, certifique-se de perguntar ao nosso pessoal no momento do serviço.</p>

<li class="bold">Aceitam pagamento com cartão de crédito?</li>
<p>Sim, aceitamos pagamento com cartão de crédito, bem como dinheiro e transferência bancária.</p>

</ul>
</body>