
<h1>Perguntas Frequentes (FAQ)</h1>

<h2>Bem-vindo ao nosso centro de FAQ, onde respondemos às perguntas mais comuns que nossos clientes têm sobre nossos serviços e procedimentos. Se você não encontrar a resposta que procura aqui, não hesite em entrar em contato conosco diretamente. Estamos sempre prontos para ajudar!</h2>
<ol>
<li>1.  Quais serviços de reparo e manutenção vocês oferecem?
Oferecemos uma ampla gama de serviços, incluindo reparos mecânicos, troca de óleo, manutenção preventiva, reparos de freios, alinhamento de rodas, serviços de suspensão, e muito mais. Entre em contato conosco para obter informações detalhadas sobre nossos serviços.
</li>
<li>
    2. Como faço um agendamento?
Você pode agendar uma consulta ligando para o nosso número de telefone ou preenchendo o formulário de agendamento em nosso site. Estamos disponíveis para agendamentos de segunda a sexta-feira, das 8h às 18h, e aos sábados, das 9h às 13h.
</li>
<li>
3. Quanto tempo levará para consertar meu veículo?
O tempo de reparo varia de acordo com o tipo de serviço e a complexidade do problema. Quando você faz o agendamento, nosso pessoal irá fornecer uma estimativa do tempo necessário. Estamos comprometidos em concluir o trabalho de forma eficiente, sem comprometer a qualidade.
</li>
<li>
4. Quanto custará o serviço de reparo?
O custo do serviço depende do tipo de reparo ou manutenção necessária. Após uma avaliação inicial, forneceremos um orçamento detalhado. Nossos preços são competitivos e transparentes, e não cobramos por serviços não autorizados.
</li>
<li>
5. Vocês usam peças de reposição originais?
Sim, usamos peças de reposição originais e de alta qualidade sempre que possível. No entanto, também oferecemos opções de peças de qualidade equivalente, se você preferir economizar um pouco.
</li>
<li>
6. Vocês oferecem garantia para os serviços realizados?
Sim, oferecemos garantia em nossos serviços e peças. Os detalhes da garantia podem variar de acordo com o tipo de serviço, por isso, certifique-se de perguntar ao nosso pessoal no momento do serviço.
</li>
<li>
7. Aceitam pagamento com cartão de crédito?
Sim, aceitamos pagamento com cartão de crédito, bem como dinheiro e transferência bancária.
</li>
</ol>
Esperamos que essas respostas tenham esclarecido suas dúvidas. Se você tiver outras perguntas ou precisar de assistência adicional, não hesite em entrar em contato conosco. Estamos aqui para ajudar!

Atenciosamente,
A Equipe da Ofi.Cimas