<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ofi.Cimas</title>
    <link rel="stylesheet" href="C:\Users\Carlos\ofiCIMAS\css\style.css" />
  </head>

  <body>
    <div class="hero">
      <h1 class="title">Ofi<dot class="dot">.</dot>Cimas</h1>
    </div>
    <div class="topNav">
      <a class="topNav-links" href="C:\Users\Carlos\ofiCIMAS\index.html">Página inicial</a>
      <a class="topNav-links" href="Sobrenos.html">Sobre nós</a>
      <a class="topNav-links" href="Servicos.html">Nossos serviços</a>
      <a class="topNav-links" href="Localizacao.html">Localização</a>
      <a class="topNav-links" href="FAQ.html">Fale conosco!</a>
    </div>

<h2 class="Bem_vindo">Nossos Serviços</h2>
    
    <h3>Oferecemos uma ampla gama de serviços de reparo e manutenção para manter o seu veículo em perfeitas condições. Nossos serviços incluem:</h3>
    <div class="list">
    <h4 class="subtitulo2">Reparos Mecânicos</h4>
    <ul class="azul">Troca de Óleo</ul>
    <ul>Manutenção Preventiva</ul>
    <ul class="azul">Reparos de Freios</ul>
    <ul>Alinhamento de Rodas</ul>
    <ul class="azul">Serviços de Suspensão</ul>
    <ul> Diagnóstico de Problemas</ul>
    <ul class="azul">E muito mais!</ul>
    </div>

    </body>