<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ofi.Cimas</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <div class="hero">
      <h1 class="title">Ofi<dot class="dot">.</dot>Cimas</h1>
    </div>
    <div class="topNav">
      <a class="topNav-links" href="/home/aluno/OfiCIMAS/index.html">Página inicial</a>
      <a class="topNav-links" href="/home/aluno/OfiCIMAS/views/Sobrenos.html">Sobre nós</a>
      <a class="topNav-links" href="/home/aluno/OfiCIMAS/views/Servicos.html">Nossos serviços</a>
      <a class="topNav-links" href="/home/aluno/OfiCIMAS/views/Localizacao.html">Localização</a>
      <a class="topNav-links" href="/home/aluno/OfiCIMAS/views/FAQ.html">Fale conosco!</a>
    </div>

<h2 class="subtitulo">Nossos Serviços</h2>
    
    <h4>Oferecemos uma ampla gama de serviços de reparo e manutenção para manter o seu veículo em perfeitas condições. Nossos serviços incluem:</h4>
    <div class="list">
    <ul>Reparos Mecânicos</ul>
    <ul>Troca de Óleo</ul>
    <ul>Manutenção Preventiva</ul>
    <ul>Reparos de Freios</ul>
    <ul>Alinhamento de Rodas</ul>
    <ul>Serviços de Suspensão</ul>
    <ul> Diagnóstico de Problemas</ul>
    <ul>E muito mais!</ul>
    </div>