<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ofi.Cimas</title>
    <link rel="stylesheet" href="C:\Users\Carlos\ofiCIMAS\css\style.css" />
  </head>

  <body>
    <div class="hero">
      <h1 class="title">Ofi<dot class="dot">.</dot>Cimas</h1>
    </div>
    <div class="topNav">
      <a class="topNav-links" href="C:\Users\Carlos\ofiCIMAS\index.html">Página inicial</a>
      <a class="topNav-links" href="Sobrenos.html">Sobre nós</a>
      <a class="topNav-links" href="Servicos.html">Nossos serviços</a>
      <a class="topNav-links" href="Localizacao.html">Localização</a>
      <a class="topNav-links" href="FAQ.html">Fale conosco!</a>
    </div>

<div>
    <h3 class="Bem_vindo">Seja bem vindo!</h3>
    <div class="subtitulo">
      <p>
        Desde 1992 transformando os seus sonhos em realidade
      </p>
    </div>
    <div class="descricao">
      <p> A Ofi.Cimas é o local perfeito para os amantes de carros. Equipada com as mais recentes tecnologias automotivas, esta oficina é onde a paixão pela mecânica encontra a excelência técnica. Nossos mecânicos altamente treinados e certificados cuidam dos veículos com carinho e habilidade, oferecendo desde manutenção preventiva até modificações personalizadas. Com ferramentas de última geração, diagnósticos precisos e um compromisso inabalável com a qualidade, a Ofi.Cimas é o destino confiável para todos os entusiastas e proprietários de automóveis que desejam manter seus veículos funcionando no auge de seu desempenho.</p>
    </div>
    <div class="descricao_foto">
      <img  src="https://img.freepik.com/fotos-gratis/linda-garota-com-cabelos-longos-na-garagem-consertando-uma-moto_1321-1385.jpg" alt="foto_descricao">
    </div>
  </div>  


  </body>