<div>
    <h3 class="Bem_vindo">Seja bem vindo!</h3>
    <div class="subtitulo">
      <p>
        Desde 1992 transformando os seus sonhos em realidade
      </p>
    </div>
    <div class="descricao">
      <p> A Ofi.Cimas é o local perfeito para os amantes de carros. Equipada com as mais recentes tecnologias automotivas, esta oficina é onde a paixão pela mecânica encontra a excelência técnica. Nossos mecânicos altamente treinados e certificados cuidam dos veículos com carinho e habilidade, oferecendo desde manutenção preventiva até modificações personalizadas. Com ferramentas de última geração, diagnósticos precisos e um compromisso inabalável com a qualidade, a Ofi.Cimas é o destino confiável para todos os entusiastas e proprietários de automóveis que desejam manter seus veículos funcionando no auge de seu desempenho.</p>
    </div>
    <div>
      <img class="descricao_foto" src="https://img.freepik.com/fotos-gratis/linda-garota-com-cabelos-longos-na-garagem-consertando-uma-moto_1321-1385.jpg" alt="foto_descricao">
    </div>
  </div>  